body,
html {
	margin: 0;
	padding: 0;
}


body {
	background-color: rgba(128, 128, 128, 0.473);
	font-family: 'Courier New', Courier, monospace;
	font-size: 50px;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.container {
	padding: 5px;
	width: 1000px;
	border: 5px solid black;
	margin: 30px auto;
	box-sizing: border-box;
	display: grid;
	grid-template-areas: "header header"
		"aside main"
		"nav main"
		"footer footer";
		grid-template-columns: 1fr 1.5fr;
		grid-template-rows: 1fr 1fr 1.3fr;

}

.header {
	grid-area: header;
	background-color: crimson;
	padding: 40px 0;
}

.aside {
	grid-area: aside;
	background-color: green;
	padding: 60px 0;
}

.nav {
	grid-area: nav;
	background-color: blue;
	padding: 100px 0;
}

.main {
	grid-area: main;
	background-color: yellowgreen;
	padding: 187.5px 0;
}

.footer {
	grid-area: footer;
	background-color: grey;
	padding: 10px 0;
}