.container {
	width: 60%;
	margin: 50px auto;
	display: grid;
	grid-template-columns:repeat(4, 1fr) repeat(5, 1.5fr);

}

.item {
	background-color: rgb(112, 112, 197);
	display: flex;
	justify-content: center;
	align-items: center;
}

.item:nth-child(even) {
	background-color: salmon;
}