.container {
	width: 600px;
	margin: 50px auto;
	/* border: solid 1px black;  */
	display: grid;
	grid-template-columns: 100px 25% 200px;
	grid-template-rows: 50px 100px auto;

}

.item {
	background-color: rgb(112, 112, 197);
	display: flex;
	justify-content: center;
	align-items: center;
}

.item:nth-child(even) {
	background-color: salmon;
}