.container {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(3, 130px);
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	justify-items: center;
	border: 1px solid black;
}

.item {
	border: 3px solid black;
	height: 100px;
	background-color: lightblue;
	list-style: none;
}

.item.i1,
.item.i4,
.item.i7 {
	width: 130px;
}

.item.i2,
.item.i5,
.item.i8 {
	width: 80px;
}



.item.i3,
.item.i6,
.item.i9{
	width: 170px;
}